#header {
    height: 108px;
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr auto;
    align-items: start;

    font-family: Roboto;
    color: var(--text-main);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin-bottom: -80px;
}

#header .logo {
    height: 70%;
    align-self: start;
    padding: 10px;
}

#header .logo img {
    height: 100%;
    max-height: 75px;
}

nav {
    width: 100%;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 8px;
}

.burger {
    display: none;
}

li > a {
    text-decoration: none;
    color: var(--text-main);
}

li > a:hover {
    color: var(--accent-text);
}

a.phone {
    text-decoration: none;
    color: var(--text-main);
}

@media (max-width: 768px) {
    #header {
        height: 41px;
        display: flex;
        flex-direction: row;
        justify-content: start;

        margin-bottom: -28px;
    }

    .phone {
        display: none;
    }

    nav {
        display: none;
    }

    #header .logo {
        height: 100%;
        padding: 2px;
    }

    .burger {
        height: 100%;
        display: block;
        margin-left: auto;
    }

    .burger img {
        width: 100%;
        height: 100%;
    }
}