#testimonials {
    display: grid;
    grid-template-areas: 
        "A A A A A X X X X X X X"
        "B B B B B B B B B B B B";
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    row-gap: 32px;
}

.testimonials-title {
    grid-area: A;
}

.testimonials-flex {
    grid-area: B;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    min-height: 327px;
}

.testimonial {
    border: 1px solid black;
    padding: 40px 40px 40px 40px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

.testimonial img {
    width: 40px;
    height: 40px;
}

.testimonial-name {
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;

    margin-top: 32px;
    margin-bottom: 20px;

    text-align: center;
}

.testimonial-text {
    text-align: center;
}

@media (max-width: 768px) {
    #testimonials {
        row-gap: 20px;
    }

    .testimonial img {
        width: 32px;
        height: 32px;
    }

    .testimonials-flex {
        flex-direction: column;
        gap: 16px;
    }
}